/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #2dd4bf;
}

/* SMOOTH SCROLL */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #0b1a3a;
    color: white;
}
/* LOGO */
.logo img {
    width: 120px;  
    height: auto;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover color */
.navbar ul li a:hover {
    color: #2dd4bf;
}

.navbar ul li a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    padding: 60px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    max-width: 500px;
}

.intro {
    color: #2dd4bf;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.left h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.role {
    margin-bottom: 20px;
    color: #94a3b8;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #2dd4bf;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid #2dd4bf;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
}

/* HOVER EFFECT */
button:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

/* HERO IMAGE */
.right img {
    width: 350px;
    border-radius: 20px;
}

/* ABOUT */
#about {
    display: flex;
    padding: 80px;
    gap: 50px;
    align-items: center;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 300px;
    border-radius: 20px;
}



.experience {
    position: absolute;
    bottom: -10px;
    left: 50px;
    background: #2dd4bf;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.about-text h5 {
    color: #2dd4bf;
    margin-bottom: 10px;
}

.about-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text p {
    color: #cbd5e1;
    margin-bottom: 15px;
    line-height: 1.6;
}

.skills span {
    border: 1px solid #2dd4bf;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}

/* PROJECTS */
#projects {
    padding: 80px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card {
    height: 220px;
    background: #1e2a5a;
    border-radius: 15px;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
/* HOVER */
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    opacity: 1;
}

.highlight {
    background: #1e2a5a;
}

/* CONTACT */
#contact {
    text-align: center;
    padding: 50px;
}

#contact a {
    color:  white;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #08122c;
}

/* Project Logo */
.project-logo {
    width: 50px;
    height: 50px;
}

/* Title */
.card h3 {
    font-size: 18px;
}

/* Description */
.card p {
    font-size: 14px;
    color: #cbd5e1;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    #about {
        flex-direction: column;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}